tshomeserv.duckdns.org {
    # Nextcloud (all requests except /home/)
    handle_path /home/* {
        reverse_proxy website-weather-api:80
    }

    handle {
        reverse_proxy nextcloud_app:80
    }

    tls tristan.scholz2000@gmail.com
}
